In [2]:
# 5장
#판다스의 기본 임포트
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [17]:
# 5-1
#시리즈
#고정길이의 정렬된 사전형 또는 인덱싱되 배열?
#numpy 의 배열연산등이 된다!

obj = Series([4,7,-5,3])

obj

obj.values
obj.index

obj2 = Series([4,7,-5,3],index = ['d','b','a','c'])
obj2

obj2.index

obj2['a']
obj2['d'] = 6
obj2

obj2[['c','a','d']]

obj2[obj2 > 0]
obj2 * 2

np.exp(obj2)

'b' in obj2

sdata = {'Ohio':1023,'Ad':12323}

obj3 = Series(sdata)
obj3

Ad      12323
Ohio     1023
dtype: int64

In [4]:
# 5 -2
#DataFrame
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada']
        ,'year':[2000,2001,2002,2001,2002]
        ,'pop':[1.5,1.7,3.6,2.4,2.9]
       }                                                                                                                                                                                                                                                 
                                                     
d2= {
    'a':[1,2]
    ,'b':[2,3]
}
frame = DataFrame(data)

f2 = DataFrame(d2)
f2
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [5]:
frame = DataFrame(data,columns=['year','state','pop'])
frame

frame2 = DataFrame(data,columns=['year','state','pop','debt'],index=['0ne','two','three','four','five'])
frame2

frame2.columns

frame2.year
frame2['state']

frame2.ix['three']

frame2.debt = 16.5
frame2

frame2['debt'] = np.arange(5.)
frame2

val = Series([-1.2,-1.5,-1.7],index=['two','four','five'])

frame2['debt'] = val

frame2

frame2['eastern'] = frame2.state =='Ohio'

frame2

del frame2['eastern']

frame2.columns
pop = {'Nevada':{2001:2.4,2002:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}

frame3 = DataFrame(pop)

frame3.index
frame3
frame3.T

DataFrame(pop, index=[2001,2002,2003])

pdata = {
    'Ohio':frame3['Ohio'][:-1]
    ,'Nevada':frame3['Nevada'][:2]
}

frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [6]:
DataFrame(pdata)

frame3.index.name='year'
frame3.columns.name='state'

frame3

frame3.values                                                   
frame2.values

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, -1.2],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, -1.5],
       [2002, 'Nevada', 2.9, -1.7]], dtype=object)

In [7]:
#5 .1.3 색인 객체
obj = Series(range(3),index = ['a','b','c'])

index = obj.index
index

index[1:]
#색인 객체는 변경이 불가능
index = pd.Index(np.arange(3))

obj2 = Series([1.5,-2.5,0],index = index)

obj2.index is index

True

In [8]:
#5.2 핵심기능

#5.2.1 재색인

obj = Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])
obj

obj2 = obj.reindex(['a','b','c','d','e'])
obj2

obj.reindex(['a','b','c','d','e'],fill_value=0)

obj3 = Series(['blue','purple','yellow'],index=[0,2,4])
 
obj3.reindex( range(6) , method = 'ffill' )

frame = DataFrame(np.arange(9).reshape(3,3),index=['a','c','d'],columns=['Ohio','Texas','California'])
frame

frame2 = frame.reindex(['a','b','c','d'])

frame2

state = ['Texas','Utah','California']

frame

frame.reindex(columns=state)

frame.reindex(index=['a','b','c','d'],method='ffill',columns=state)

frame

frame.ix[['a','b','c','d'],state]

   Texas  Utah  California
a      1   NaN           2
b    NaN   NaN         NaN
c      4   NaN           5
d      7   NaN           8

In [9]:
#5.2.2 하나의 로우 또는 컬럼 삭제하기
obj = Series(np.arange(5.),index = ['a','b','c','d','e'])

new_obj = obj.drop('c')

new_obj

obj.drop(['d','c'])

data=DataFrame(np.arange(16).reshape((4,4)),
              index=['Ohio','Colorado','Utah','New York'],
              columns=['one','two','three','four'])

data

data.drop(['Colorado','Utah'])

data.drop('two',axis=1)

data.drop(['two','four'],axis=1)

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [10]:
#5.2.3 색인하기, 선탞하기, 거르기

obj = Series(np.arange(4.), index = ['a','b','c','d'])
obj

obj['b']
obj[1]

obj[2:4]
obj[['b','a','d']]

obj[[1,3]]

obj[obj < 2]

obj ['b':'c']

obj['b':'c'] = 5
obj

data = DataFrame(np.arange(16).reshape((4,4)),
                index = ['Ohio','Colorado','Utah','New York'],
                columns = ['one','two','three','four'])

data[data['three'] > 5]

#이문법에는 모순이 있다! 하지만 따지지 말자
data.ix['Colorado',['two','three']]

data.ix[['Colorado','Utah'],[3,0,1]]
data.ix[:'Utah','two']

Ohio        1
Colorado    5
Utah        9
Name: two, dtype: int64

In [26]:
#5.2.4
s1 = Series([7.3,-2.5,3.4,1.5],index=['a','c','d','e'])
s2 = Series([-2.1,3.6,-1.5,4,3.1],index=['a','c','e','f','g'])

s1 + s2

df1 = DataFrame(np.arange(9.).reshape((3,3)), columns = list('bcd'), index = ['Utah','Ohio','Colorado'])
print(df1)

df2 = DataFrame(np.arange(12.).reshape((4,3)), columns = list('bce'), index = ['Utah','Ohio','Texas','Oregon'])
print(df2)

df1 + df2

df1.add(df2, fill_value=0)

          b  c  d
Utah      0  1  2
Ohio      3  4  5
Colorado  6  7  8
        b   c   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

          b   c   d   e
Colorado  6   7   8 NaN
Ohio      6   8   5   5
Oregon    9  10 NaN  11
Texas     6   7 NaN   8
Utah      0   2   2   2

In [45]:
arr = np.arange(12.).reshape((3,4))

arr
arr[0]

arr - arr[0]

frame = DataFrame(np.arange(12.).reshape((4,3)), columns=list('bde'),index = ['Utah','Ohio','Texas','Oregon'])

series = frame.ix[0]
frame
series


frame - series

        b  d  e
Utah    0  0  0
Ohio    3  3  3
Texas   6  6  6
Oregon  9  9  9

In [57]:
#5.2.5 함수 적용과 매핑

frame = DataFrame(np.random.randn(4,3),columns = list('bde'), index = ['Utah','Ohio','Texas','Oregon'])

print('===============================')
print (frame)
print('===============================')
print(np.abs(frame))
print('===============================')
f = lambda x : x.max() - x.min()
print(frame.apply(f))
print('===============================')
frame.apply(f, axis=1)

def f(x):
    return Series([ x.min() , x.max()], index = ['min','max'])

frame.apply(f)

format = lambda x: '%.2f' % x

frame.applymap(format)

frame['e'].map(format)

===============================
               b         d         e
Utah   -1.703181 -0.536249 -0.894171
Ohio   -0.550779 -0.096461  1.188169
Texas  -0.163833 -0.908479  1.646394
Oregon  0.966564 -0.476593 -0.414566
===============================
               b         d         e
Utah    1.703181  0.536249  0.894171
Ohio    0.550779  0.096461  1.188169
Texas   0.163833  0.908479  1.646394
Oregon  0.966564  0.476593  0.414566
===============================
b    2.669744
d    0.812018
e    2.540565
dtype: float64
===============================

Utah      -0.89
Ohio       1.19
Texas      1.65
Oregon    -0.41
Name: e, dtype: object

In [88]:
obj = Series(range(4),index =['d','a','b','c'])
obj
obj.sort_index()

frame = DataFrame(np.arange(8).reshape((2,4)),index = ['three','one'],columns = ['d','a','b','c'])

frame

frame.sort_index()

frame.sort_index(axis=1)

frame.sort_index(axis=1,ascending=False)

obj = Series([4,7,-3,2])

obj.sort_values()

obj = Series([4,np.nan,7,np.nan,-3,2])
obj.sort_values()

frame = DataFrame({'b':[4,7,-3,2] , 'a':[0,1,0,1]})

frame

frame.sort_values ( by='b')

frame.sort_values ( by=['a','b'])

obj = Series([7,-5,7,4,2,0,4])
obj
obj.rank()

obj.rank(method='first')
obj.rank( ascending=False,method='max')

obj.rank( ascending=False,method='first')

0    1
1    7
2    2
3    3
4    5
5    6
6    4
dtype: float64

In [93]:
#5.2.7중복색인
obj = Series(range(5),index = ['a','a','b','b','c'])

obj

obj.index.is_unique

obj['a']
obj['c']

df = DataFrame(np.random.randn(4,3),index = ['a','a','b','b'])
df

          0         1         2
a  0.612185 -0.020836  0.643609
a  0.158376 -1.782893  0.681216
b -0.332119  0.286645 -0.109778
b  1.077052 -2.237707 -0.449487

In [106]:
df = DataFrame(
    [[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],index =['a','b','c','d'], columns=['one','two'])
df

df.sum()
df.sum(axis=1)

df.mean(axis=1,skipna=False)
df.idxmax()

df.cumsum()

df.describe()

obj = Series(['a','a','b','c'] * 4)
obj

obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [109]:
#5.3.1. 상관관계와 공분산
import pandas.io.data as web

all_data = {}
for tickr in ['AAPL','IBM']